# Starter code for exploring the Enron dataset (emails + finances)

Loads up the dataset (pickled dict of dicts)

The dataset has the form: `enron_data["LASTNAME FIRSTNAME MIDDLEINITIAL"] = { features_dict }`

`{features_dict}` is a dictionary of features associated with that person.

You should explore `features_dict` as part of the mini-project, but here's an example to get you started:

`enron_data["SKILLING JEFFREY K"]["bonus"] = 5600000`

In [2]:
import pickle

with open('../17-final-project/final_project_dataset_unix.pkl', 'rb') as f:
    enron_data = pickle.load(f)

## ↓↓↓ Your Code Goes Here ↓↓↓

In [3]:
len(enron_data.keys())

146

In [4]:
len(list(enron_data.values())[0].keys())
#OR
len(enron_data['METTS MARK'].keys())
#OR
len(list(enron_data.values())[0])

21

In [72]:
count_pois=0
for person_name in enron_data.keys():
    if enron_data[person_name]["poi"]==1:
        count_pois+=1
count_pois

18

In [6]:
with open('../17-final-project/poi_names.txt') as f:
    lines = f.readlines()

In [7]:
lines

['http://usatoday30.usatoday.com/money/industries/energy/2005-12-28-enron-participants_x.htm\n',
 '\n',
 '(y) Lay, Kenneth\n',
 '(y) Skilling, Jeffrey\n',
 '(n) Howard, Kevin\n',
 '(n) Krautz, Michael\n',
 '(n) Yeager, Scott\n',
 '(n) Hirko, Joseph\n',
 '(n) Shelby, Rex\n',
 '(n) Bermingham, David\n',
 '(n) Darby, Giles\n',
 '(n) Mulgrew, Gary\n',
 '(n) Bayley, Daniel\n',
 '(n) Brown, James\n',
 '(n) Furst, Robert\n',
 '(n) Fuhs, William\n',
 '(n) Causey, Richard\n',
 '(n) Calger, Christopher\n',
 '(n) DeSpain, Timothy\n',
 '(n) Hannon, Kevin\n',
 '(n) Koenig, Mark\n',
 '(y) Forney, John\n',
 '(n) Rice, Kenneth\n',
 '(n) Rieker, Paula\n',
 '(n) Fastow, Lea\n',
 '(n) Fastow, Andrew\n',
 '(y) Delainey, David\n',
 '(n) Glisan, Ben\n',
 '(n) Richter, Jeffrey\n',
 '(n) Lawyer, Larry\n',
 '(n) Belden, Timothy\n',
 '(n) Kopper, Michael\n',
 '(n) Duncan, David\n',
 '(n) Bowen, Raymond\n',
 '(n) Colwell, Wesley\n',
 '(n) Boyle, Dan\n',
 '(n) Loehr, Christopher\n']

In [8]:
list_names = lines[2:]
len(list_names)

35

In [9]:
enron_data["PRENTICE JAMES"]['total_stock_value']

1095040

In [10]:
#email messages from Wesley Colwell to persons of interest
enron_data["COLWELL WESLEY"]['from_this_person_to_poi']

11

In [11]:
#value of stock options exercised by Jeffrey K Skilling
enron_data["SKILLING JEFFREY K"]['exercised_stock_options']

19250000

In [12]:
print("{} {} {}".format(enron_data["FASTOW ANDREW S"]['total_payments'],
                          enron_data["SKILLING JEFFREY K"]['total_payments'],
                          enron_data["LAY KENNETH L"]['total_payments']))

2424083 8682716 103559793

In [13]:
# Count quatified salary
count_salary=0
# Count how many have an email address
count_emails=0
for person_name in enron_data.keys():
    if enron_data[person_name]["salary"]!='NaN':
        count_salary+=1
    if enron_data[person_name]["email_address"]!='NaN':
        count_emails+=1

print(count_salary,count_emails)

95 111

In [14]:
count_no_pay=0
for person_name in enron_data.keys():
    if enron_data[person_name]["total_payments"]=='NaN':
        count_no_pay+=1
count_no_pay
percentage_no_pay = count_no_pay/len(enron_data.keys())*100
print(percentage_no_pay)

14.383561643835616

In [15]:
name = list_names[1][4:].upper().rstrip('\n').replace(",", "")
name

'SKILLING JEFFREY'

In [16]:
names=[]
for poi in list_names:
    names.append(poi[4:].upper().rstrip('\n').replace(",", ""))
names

['LAY KENNETH',
 'SKILLING JEFFREY',
 'HOWARD KEVIN',
 'KRAUTZ MICHAEL',
 'YEAGER SCOTT',
 'HIRKO JOSEPH',
 'SHELBY REX',
 'BERMINGHAM DAVID',
 'DARBY GILES',
 'MULGREW GARY',
 'BAYLEY DANIEL',
 'BROWN JAMES',
 'FURST ROBERT',
 'FUHS WILLIAM',
 'CAUSEY RICHARD',
 'CALGER CHRISTOPHER',
 'DESPAIN TIMOTHY',
 'HANNON KEVIN',
 'KOENIG MARK',
 'FORNEY JOHN',
 'RICE KENNETH',
 'RIEKER PAULA',
 'FASTOW LEA',
 'FASTOW ANDREW',
 'DELAINEY DAVID',
 'GLISAN BEN',
 'RICHTER JEFFREY',
 'LAWYER LARRY',
 'BELDEN TIMOTHY',
 'KOPPER MICHAEL',
 'DUNCAN DAVID',
 'BOWEN RAYMOND',
 'COLWELL WESLEY',
 'BOYLE DAN',
 'LOEHR CHRISTOPHER']

In [17]:
# Count quatified salary
count_salary=0
# Count how many have an email address
count_emails=0
for value_dic in enron_data.values():
    if value_dic["salary"]!='NaN':
        count_salary+=1
    if value_dic["email_address"]!='NaN':
        count_emails+=1

print(count_salary,count_emails)

95 111

In [73]:
# POIs in the E+F dataset have “NaN” for their total payments
count_pois_no_pay=0
for poi in names:
    for i in list(enron_data):
        if i.find(poi)!=-1:
            if enron_data[i]['total_payments']=='NaN':
                count_pois_no_pay+=1
count_pois_no_pay

0